@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles */
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a
}
/*Header*/
header {
    background: url(../images/pexels-flo-maderebner-869258.jpg) no-repeat center center/cover;
    height: 400px;

}


#headpic {
    
}
#home-header {
    background-color: transparent;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
    padding-top: 10px;
}
#intro {
    height: 100px;
    padding-top: 13vh;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    position: fixed;
}
#intro h2 {
    font-weight: 500;
    font-size: 2.7em;
    color: #c5273a;
}
p { /* p for the text in the middle of the home start pic */
    text-align: center;
    vertical-align: middle;
}
h1 {
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 150%;
}
header a {
    text-decoration: none; 
    color: inherit;
}
#menu { 
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 7px;
    font-weight: 600;
} 
.active {
    color: #6E0E0A;
    border-bottom: 1px solid #6E0E0A;

}
/* navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(240, 248, 255, 0.582);
    width: 100%;
    left: 0; 
    padding: 0 1rem;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 1.4rem;
}
#nav a:hover {
    color: #6E0E0A;
}
/*Main*/
main {
    background-color: blue;
    /* make main elemnt take up any surplus space to push footer down */
    flex: 1 0 auto;
}
/*footer*/
footer {

}
