@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles */
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #ffffff;
}
/*Header*/
header {
    background: url(../images/pexels-flo-maderebner-869258.jpg) no-repeat center center/cover;
    height: 90vh;
    max-width: 100%;
}
/* styling for the header of the pages except home */
#pagepic {
    height: 10vh;
}

#home-header {
    background-color: transparent;
    padding: 0 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
}
#intro {
    height: 100px;
    padding-top: 15vh;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    position: relative;
}
#intro h2 {
    font-weight: 500;
    font-size: 3em;
    color: #ffffff;
}
h1 {
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 160%;
    margin: 0 0.5rem;
}
header a {
    text-decoration: none; 
    color: inherit;
}
#menu { 
    font-size: 115%;
    letter-spacing: 2px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 7px;
    font-weight: 600;
} 
.active {
    color: #e70d0d;
    border-bottom: 1px solid #e70d0d;

}
/* navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(240, 248, 255, 0.582);
    width: 100%;
    left: 0; 
    padding: 0 1rem;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 1.4rem;
}


/*Main*/
main {
    color: black;
    /* make main elemnt take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 70vh ;
}
#ski-resorts>h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
    
}
#ski-resorts img {
    width: 100%;
    height: auto;
    background: no-repeat cover;
    margin-bottom: 10px;
}
#ski-resorts {
    margin: 20px auto;
    width: 90%;
    background-color: #f0f2f6;
}
#resorts {
    padding: 0 20px;
    background-color: #ffffff;
}
#resorts p {
    margin-bottom: 10px;
}
.contaier {
    padding: 0 20px;
    background-color: #f0f2f6;
}
/*footer*/
footer {
    text-align: center;
}
/* Meadia query: tablet and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: transparent;
    }
    #menu {
        display: flex;
        
    }
    #menu > li {
        padding-left: 1rem;
        
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 150%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    #intro {
        padding-top: 20vh;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 150%;
    }
}
/* Meadia query: laptop and larger (992px and up) */ 
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #6E0E0A;
        color: #6E0E0A;
        }   
} 