@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles */
body {
    font-family: Raleway sans-serif;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a
}
/*Header*/
header {
    background: url(../images/pexels-flo-maderebner-869258.jpg) no-repeat center center/cover;
    height: 400px;
    
}
#headpic {
    
}
#home-header {
    background-color: transparent;
    padding: 0 1 rem;
    position: fixed;
    z-index: 99;
    width: 100%;

}
#intro {
    height: 100px;
    padding-top: 60%;
}
p {
    text-align: center;
    vertical-align: middle;
}
/*Main*/
main {
    background-color: blue;
    /* make main elemnt take up any surplus space to push footer down */
    flex: 1 0 auto;
}
/*footer*/
footer {

}